
.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}


.cat1, .cat2, .cat3{
    padding: 5px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    /* padding-left: 5px; */
}
.cat1{
    /* background-color: orange; */
    background-image: linear-gradient(90deg, #ff9c35, #ffce1a);
}
.cat2{
    /* background-color: orchid; */
    background-image: linear-gradient(45deg, #ff5498, #ff1772);
}
.cat3{
    /* background-color: blue; */
    background-image: linear-gradient(45deg, #4289ff, #3f07f8);
}

.categories h1{
    color: white;
    font-size: 25px;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
/* .padding-10{
    padding-top: 10px;
} */
footer{
    text-align: center;
}